<li class="lunokhod-answer">
  <label>
    <% if n.choice? %>
      <input class="lunokhod-answer-select" type="<%=h q.selector_type %>" name="<%=h q.name %>" value="<%=h n.value %>"></input>
      <span class="lunokhod-answer-text"><%=h n.text %></span>
    <% else %>
      <input class="lunokhod-answer-select" type="<%=h q.selector_type %>" data-name="<%=h q.name %>"></input>

      <% if n.type == :string %>
        <input class="lunokhod-entry" type="text" name="<%=h q.name %>"></input>
      <% elsif n.type == :date %>
        <input class="lunokhod-entry" type="date" name="<%=h q.name %>"></input>
      <% elsif n.type == :time %>
        <input class="lunokhod-entry" type="time" name="<%=h q.name %>"></input>
      <% elsif n.type == :datetime %>
        <input class="lunokhod-entry" type="datetime" name="<%=h q.name %>"></input>
      <% end %>
    <% end %>
  </label>
  %DATA%
</li>
